! Fonts
!Xft.dpi: 96
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

! URxvt
URxvt.scrollBar: false
URxvt.url-launcher: google-chrome-stable
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt.boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hintint=true
